#categoria {
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

#container-productos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#producto {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    height: 580px;
}

#producto img {
    width: 400px;
    height: auto;
    border-radius: 5px;
}

h2,
#descripcion {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    text-align: left;
    max-width: 400px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#precio {
    vertical-align: bottom;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: green;
}

/*
#producto {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 320px; 
    display: flex;
    flex-direction: column;
}

#producto img {
    width: 100%; 
    max-width: 300px;
    border-radius: 5px;
}

#descripcion {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
*/
