* {
    box-sizing: border-box;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-image: url("https://clientes.tecnoactive.cl/cms/Retail/MenuboardBonmestre/Img/Pantalla6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 5%;
    font-size: 50px;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

#producto-destacado {
    flex: 0 0 35%;
    animation: slideIn 1s ease-in-out;
    margin: 10px;
}

#producto {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#lista-productos {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    animation: slideIn 1s ease-in-out;
    margin: 10px;
    max-height: 70vh;
}

.lista-producto-info {
    display: flex;
    justify-content: space-between;
}

.lista-producto-info h3 {
    font-size: 28px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.lista-producto-info p {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    text-align: right;
}

.current {
    font-weight: bold;
    background-color: yellow;
}
