<section class="frame" id="pantalla-1">
    <div class="screen category">
        <header class="top">
            <div class="logo">
                <img
                    src="img/Pantalla3/logo-bonmestre-2.svg"
                    alt="Bonmestre logo" />
            </div>
            <div class="time-badge">
                <span id="hora">17:39</span><span class="sep">|</span
                ><span>31°</span>
            </div>
        </header>
        <main class="hero">
            <h1 class="title">Desayunos</h1>
        </main>
    </div>
</section>
