<section class="frame" id="pantalla-2">
    <div class="screen dark">
        <header class="top">
            <div class="logo">
                <img
                    src="img/Pantalla3/logo-bonmestre.svg"
                    alt="Bonmestre logo" />
            </div>
            <div class="time-badge light">
                <span id="hora">17:39</span><span class="sep">|</span
                ><span id="temperatura">31°</span>
            </div>
        </header>
        <main class="featured">
            <h2 class="title">Productos destacados</h2>
            <div class="cards">
                <article class="card">
                    <div class="img-wrap ring-gold cut-top-left">
                        <img
                            src="img/Pantalla3/1b.jpg"
                            alt="Tostadas del Huerto" />
                    </div>
                    <h3 class="name">Tostadas del Huerto</h3>
                    <p class="desc">
                        Palta molida, terminadas con huevos revueltos y
                        ciboulette.
                    </p>
                    <div class="price-tag">$6.650</div>
                </article>
                <article class="card">
                    <div class="img-wrap ring-gold cut-top-left">
                        <img
                            src="img/Pantalla3/2b.jpg"
                            alt="Tostadas del Huerto" />
                    </div>
                    <h3 class="name">Tostadas del Huerto</h3>
                    <p class="desc">
                        Palta molida, terminadas con huevos revueltos y
                        ciboulette.
                    </p>
                    <div class="price-tag">$6.650</div>
                </article>
                <article class="card">
                    <div class="img-wrap ring-gold cut-top-left">
                        <img
                            src="img/Pantalla3/3b.jpg"
                            alt="Tostadas del Huerto" />
                    </div>
                    <h3 class="name">Tostadas del Huerto</h3>
                    <p class="desc">
                        Palta molida, terminadas con huevos revueltos y
                        ciboulette.
                    </p>
                    <div class="price-tag">$6.650</div>
                </article>
            </div>
        </main>
    </div>
</section>
