<section class="frame" id="pantalla-3">
    <div class="screen">
        <main class="content">
            <figure class="photo">
                <img src="img/Pantalla3/1.png" alt="Plato destacado" />
            </figure>

            <section class="menu">
                <header class="top">
                    <div class="logo">
                        <img
                            src="img/Pantalla3/logo.png"
                            alt="Bonmestre logo" />
                    </div>
                    <div class="time-badge">
                        <span id="hora">17:39</span><span class="sep">|</span
                        ><span>31°</span>
                    </div>
                </header>
                <div class="eyebrow">Nuestros productos</div>

                <div class="menu-list">
                    <div class="item active">
                        <div class="left">
                            <span class="dot"></span>
                            <span class="name">Croissant Artesanal</span>
                        </div>
                        <span class="price">$3.500</span>
                    </div>

                    <div class="item">
                        <div class="left">
                            <span class="dot"></span>
                            <span class="name">Croissant Artesanal</span>
                        </div>
                        <span class="price">$3.500</span>
                    </div>

                    <div class="item">
                        <div class="left">
                            <span class="dot"></span>
                            <span class="name">Croissant Artesanal</span>
                        </div>
                        <span class="price">$3.500</span>
                    </div>

                    <div class="item">
                        <div class="left">
                            <span class="dot"></span>
                            <span class="name">Croissant Artesanal</span>
                        </div>
                        <span class="price">$3.500</span>
                    </div>

                    <div class="item">
                        <div class="left">
                            <span class="dot"></span>
                            <span class="name">Croissant Artesanal</span>
                        </div>
                        <span class="price">$3.500</span>
                    </div>

                    <div class="item">
                        <div class="left">
                            <span class="dot"></span>
                            <span class="name">Croissant Artesanal</span>
                        </div>
                        <span class="price">$3.500</span>
                    </div>
                </div>
            </section>
        </main>

        <div class="footer"></div>
    </div>
</section>
